.demo-card__primary{
    padding: 1rem;
    padding-bottom: 0px;
}

.expenses-card {
    .demo-card__primary-action {
        padding-top: 0px;
        padding-bottom: 0px;
        ul {
            li {
                
                .mdc-list-item__secondary-text {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    span {
                        display: inline-flex;
                        align-items: center;
                        i {
                            margin-right: 10px;
                        }
                    }
                    span:not(:first-child){
                        margin-left: 10px;
                    }
                }
                button {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
    }
}

.inline-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;

    i {
        margin-right: 10px;
    }

}

// @media (min-width:483px) and (max-width:700px) {
//     .demo-card__primary-action .payment-snapshot {
//         min-width: 100%;
//     }
// }


.card-heading {
    float: left;

    .demo-card__title {
        padding-top: 0;
    }

    .employee-stat {
        .mdc-typography--body2 {
            color: $mdc-theme--success
        }
    }
}

.count-container {
    float: right;

    .count-value {
        text-align: center;
    }
}