.demo-card__primary,
.demo-card__primary-action {
    padding: 1rem;
}

.demo-card__primary-action {
    padding-top: 0px;
    .payment-snapshot {
        display: block;
        margin: 0 auto;
        min-width: 300px;
        .icon-container {
            padding-bottom: 10px;
        }
        .payment-status {
            padding-bottom: 10px;
            padding-top: 10px;
            .pending-payment-headline {
                color: $mdc-theme--error;
            }
            button {
                width: 100%;
            }
        }
        
      
    }
}
.inline-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    i {
        margin-right: 10px;
    }

}

// @media (min-width:483px) and (max-width:700px) {
//     .demo-card__primary-action .payment-snapshot {
//         min-width: 100%;
//     }
// }


.card-heading {
    float: left;
    .demo-card__title {
        padding-top: 0;
    }
    .employee-stat {
        .mdc-typography--body2 {
            color: $mdc-theme--success
        }
    }
}

.count-container {
    float: right;
    .count-value {
        text-align: center;
    }
}