@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "./variables";
body {
    display: flex;
    height: 100vh;   
}
.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}
.mdc-drawer {
   @include mdc-drawer-item-shape-radius(0 $drawer-list-radius $drawer-list-radius 0,$rtl-reflexive: true)
}
.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}

.mdc-top-app-bar {
    z-index: 7;

}

.drawer-bottom {
    position: absolute;
    bottom: 10px;
    width: 256px;
}

@media (max-height:450px) {
    .drawer-bottom {
        position: relative;
        bottom: 0px;
    }
}

.profile-card {

    // width: 320px;
    display: block;
    z-index: 991;
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);

    outline: none;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 62px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text;

    .main-container {
        margin: 10px 20px 20px 20px;
        display: block;
        white-space: nowrap;

        img {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            margin-right: 20px;
            position: relative;

        }

        .text-container {
            display: inline-block;
            vertical-align: top;
            .name-text {
                font-weight: 500;
            }
            .email-text {
                color: #666;
                margin-bottom: 5px;
            }
        }
    }

    .mdc-card__actions {
        background-color: #f5f5f5;

    }

}
.icon-expand {
    width: 60px;
    height: 60px;
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}
.mdc-top-app-bar__title {
    padding-left: 0px;
}