:root {
    --mdc-theme-primary: #89273E;
    --mdc-theme-secondary: #e0e0e0;
    --mdc-theme-background: #fff;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #000000;
    --mdc-theme-text-primary-on-light: #FFFFFF;
    --mdc-theme-text-primary-on-dark: #cccccc;
}

body {
    margin: 0px;
}

.header-actionable {
    margin-left: 5px;

}

.hamburger-menu {
    display: none;
}

#mobile-navigation-drawer {
    width: 100%;
    height: 100vh;
    background-color: white;
}

@media (max-width:1120px) {
    .growthfile-resources {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

}

@media (max-width:393px) {
    .mdc-top-app-bar__title {
        font-size: 14px;
    }
}


.icon-expand {

    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

.icon-expand img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.mdc-top-app-bar__title {
    padding-left: 0px;
}

.mdc-top-app-bar__section--align-end {
    padding-right: 10px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.area {
    padding: 20px;
}

.content-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width:768px) {
    .content-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

.full-width {
    width: 100%;
}

.download-badges {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.download-badges img {
    width: 140px;
}

.hidden {
    display: none;
}

iframe {
    width: 100%;
}

.inline-content {
    display: flex;
    align-items: center
}

.inline-content span {
    margin-left: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.no-underline {
    text-decoration: none;
}

footer {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
}

footer a {
    color: var(--mdc-theme-on-primary);
}

footer .meta-links {
    justify-content: space-between;
    display: flex;
}

.meta-links-container {
    border-top: 1px solid #cccccc;
    padding-top: 20px;

}

.footer-primary-content {
    padding-bottom: 30px;
}

.social-media-icon svg {
    width: 30px;
    fill: white;
}

.container {
    max-width: 1280px;
    display: block;
    margin: 0 auto;
}

.sign-up-form .mdc-text-field {
    width: 100%
}

.sign-up-form .info-container {
    margin-bottom: 30px;
}

.form-submit-input {
    margin-right: 20px;
}

.sign-up-form .submit-cont {
    display: flex;
    align-items: center;
}

@media(max-width:360px) {
    .sign-up-form .submit-cont {
        display: block;
        align-items: center;
    }

    .login-link {
        margin-top: 10px;
    }
}