{
    "presets": [[
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "corejs": 3
        }
      ]],
    "sourceType": "script",
    "ignore": ["node_modules","public/js/intl-tel-input","public/admin/js/moment.min.js"],
    "plugins": ["@babel/plugin-transform-object-assign","starts-with-ends-with",[
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]]
}