{
    "presets": [[
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "corejs": 3
        }
      ]],
    "ignore": ["node_modules","public/js/intl-tel-input"],
    "plugins": ["@babel/plugin-transform-object-assign","starts-with-ends-with"]
}