/** Theme **/
@import './scss/variables';

@import "@material/button/mdc-button";
@import "@material/typography/mdc-typography";
@import "@material/textfield/mdc-text-field";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/checkbox/mdc-checkbox"; // Required only for data table with row selection.
@import "@material/data-table/mdc-data-table";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/radio/mdc-radio";
@import './scss/login.scss';
@import './scss/home.scss';

body {
    margin: 0;
}

.logo {
    margin: 0 auto;
   
    display: block;
    img {
        width: 50px;
        height: 50px;
    }
   
}

.text-center {
    text-align: center;
}
.mt-0 {
    margin-top: 0px;
}
.mb-0 {
    margin-bottom: 0px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.hidden {
    display: none !important;
}