.initializing-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /* padding: 20px; */
    background-color: white;
    width: 200px;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
    z-index: 9;
    font-size: 24px;

    padding-bottom: 0px;
    padding: 10px;

}

.initializing-box .straight-loader {
    color: var(--mdc-theme-primary);
}

.initializing-db {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.form-actionable {
    padding-top: 60px;
}

.searchable-list {
    max-height: 500px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media(min-width:839px) {
    .mdc-fab--action {
        position: relative !important;
        float: right;
    }

    .form-actionable {
        padding-top: 20px;
    }
}

.mdc-fab--action {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-secondary);
    font-weight: 600;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
}
.mdc-fab--extended.mdc-fab--action {
    width: 150px;
}

.mdc-fab--action .straight-loader {
    display: none;
    color: var(--mdc-theme-secondary);
    top: -10px;
}

.mdc-fab--action.active .straight-loader {
    display: block;
}

.mdc-fab--action.active .mdc-fab__label {
    display: none;
}

/** header **/
@media (max-width: 599px) {
    .mdc-top-app-bar--fixed-adjust {
        padding-top: 56px;
    }
}

.mdc-top-app-bar--fixed-adjust {
    padding-top: 64px;
}

.app-bar {
    position: absolute;
}

/** Only apply this style if below top app bar. **/

.mdc-top-app-bar {
    z-index: 7;
    /* background-color: white;
    color: var(--mdc-theme-primary); */
}

.mdc-top-app-bar .header-navigation--extra {
    border-top: 1px solid #ccc;
}

.user-profile--logo {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 4px;
}

.user-profile--logo img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.user-profile--logo.focused {
    background-color: rgba(60, 64, 67, 0.08);
}

.user-profile--logo:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

.profile-box {
    position: relative;
    display: block;
    position: absolute;
    top: 62px;
    right: 14px;
    background-color: white;
    color: black;
    max-width: 354px;
    text-align: center;
    width: 100%;
}

.profile-box .user-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding: 16px 16px 10px 16px;
}

.profile-box .auth {
    padding: 0px 16px 16px 16px;
    border-bottom: 1px solid #ccc;
}

.profile-box .account-manage {
    margin-top: 10px;
}

.profile-box .sign-out {
    padding: 16px;
}

.profile-heading {
    /* display: flex;
    align-items: center; */
    min-height: 80px;
    padding-bottom: 10px;
}

.profile-heading .edit-icon {
    /* margin-left: auto; */
    float: right;
}

.profile-meta {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

/** Drawer **/
.hamburger-menu {
    display: block;
}


.mdc-drawer {
    background-color: var(--mdc-theme-secondary);
}

.mdc-top-app-bar.navigation--header+.mdc-drawer {
    padding-top: 128px;
}

.mdc-top-app-bar.navigation--header+.mdc-drawer+.mdc-drawer-app-content {
    padding-top: 128px;
}

@media (max-width: 599px) {
    .mdc-top-app-bar.navigation--header+.mdc-drawer+.mdc-drawer-scrim+.mdc-drawer-app-content {
        padding-top: 112px;
    }

    .mdc-top-app-bar.navigation--header+.mdc-drawer+.mdc-drawer-scrim+.mdc-drawer-app-content {
        padding-top: 112px;
    }
}

@media (min-width: 600px) and (max-width:839px) {
    .mdc-top-app-bar.navigation--header+.mdc-drawer+.mdc-drawer-scrim+.mdc-drawer-app-content {
        padding-top: 128px;
    }

    .mdc-top-app-bar.navigation--header+.mdc-drawer+.mdc-drawer-scrim+.mdc-drawer-app-content {
        padding-top: 128px;
    }
}

.mdc-drawer nav {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}


body {
    display: flex;
    height: 100vh;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
    padding: 16px;
}



.company-logo--image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    float: left;
}

.view-all {
    height: 20px;
    margin-top: 20px;
}

.view-all>a {
    color: var(--mdc-theme-primary);
    text-decoration: none;
    float: right;
    font-weight: bold;
}

.admin-heading {
    font-weight: bold;
}


.active-today {
    display: flex;
    align-items: center;
}

.active-today i {
    margin-right: 10px;
}

.user-list--location {
    height: 104px !important;
}

.list-time {
    color: var(--mdc-theme-primary);
    font-size: 14px !important;
    float: right;
}

.section {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--mdc-theme-primary);
}

.mdc-layout-grid .section {
    padding-top: 0px;
}

#products-list .mdc-list-item:not(.product-with--brand) {
    height: 48px;
}

#products-list .mdc-list-item__meta {
    align-items: center;
    display: flex;
}

#products-list .mdc-list-item__meta .product-value {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--mdc-theme-primary);
}


.empty-card {
    padding: 20px;
    font-size: 24px;
    background-color: #cccccc1f;
}

.empty-card .text-cont {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.empty-card i {
    margin-right: 10px;
}

.list-meta--icon {
    text-decoration: none;
    font-size: 24px !important;
}






/** account section **/
.account-section {
    margin-top: 20px !important;
    padding: 16px;
}

.account-photo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../../img/person.png);
    background-position: center;
    background-size: contain;
    padding: 10px;
    border: 1px solid #ccc;
}

.account-photo .upload-btn {
    background-color: var(--mdc-theme-primary);
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 8px;
    cursor: pointer;
    color: white;
}

.max-480 {
    max-width: 480px;
    margin: 0 auto;
}

.manage-form .form-label {
    margin-bottom: 10px;
}



form .mdc-text-field,
form .mdc-select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width:839px) {
    .mdc-drawer.default-open {
        display: flex;
    }

    .mdc-drawer.default-open+.mdc-drawer-app-content {
        margin-left: 256px;
        margin-right: 0;
    }
}