@media (max-width: 599px) {

    .mdc-top-app-bar--fixed-adjust {
        padding-top: 56px;
    }
}
.mdc-top-app-bar--fixed-adjust {
    padding-top: 64px;
}
.profile-heading {
    display: flex;
    align-items: center;
}
.company-logo--image {
 border-radius: 50%;
 width: 80px;
 height: 80px;
 margin-right: 10px;
}
.view-all > a{
    color: var(--mdc-theme-primary);
    text-decoration: none;
    float: right;
    font-weight: bold;
}
.admin-heading {
    font-weight: bold;
    padding:0px 0px 20px 0px;
}

.cta-section ul {
    border-top: 3px solid #ccc;
}
.active-today {
    display: flex;
    align-items: center;
}
.active-today i {
    margin-right: 10px;
}

.user-list--location {
    height: 104px !important;
}

.list-time {
    color: black;
    font-size: 16px !important;
    float: right;
}