.content--tablet-width {
    max-width: 768px;
    margin:  0 auto;
}
.campaign-login {
    max-width: 480px;
    display: block;
    margin: 0 auto;
}

.headline{
    padding-bottom: 20px;
}

.office-form {
  background-color: white;
  border-radius: 15px;
  padding-bottom: 20px;
}
.office-form .dynamic {
    padding: 0px 16px;
}

.free-signup {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 300px;
    width: 100%;
    display: block;
}

@media (max-width:839px) {
    .timeline {
        /* border-bottom: 1px solid #ccc; */
    }

    .office-form {
        max-width: 480px;
        margin: 0 auto;
    }
    .history-tl-container {
        max-width: 480px;
    }
    .timeline .mdc-typography--headline5{
        text-align: center;
    }
}

@media (max-width:599px){
    .headline , .para {
        text-align: center;
    }
}

.history-tl-container {
    cursor: pointer;
    margin: auto;
    display: block;
    position: relative;
    margin-left: 0px;
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;

}


.history-tl-container ul.tl li:last-child {
    border-left: 0;
    padding-bottom: 0px;
}


.history-tl-container ul.tl li:nth-child(1)::before {
    content: "group_add";
}

.history-tl-container ul.tl li:nth-child(2)::before {
    content: "share";
}

.history-tl-container ul.tl li:nth-child(3)::before {
    content: "location_on";
}

.history-tl-container ul.tl li:nth-child(4)::before {
    content: "assessment";
}

.history-tl-container ul.tl li:hover::before {
    border-color: var(--mdc-theme--primary);
    transition: all 1000ms ease-in-out;
}

.item-title {
    padding: 3px;
}

ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}


.add-staff--button {
    width: 300px;
    /* max-width: 480px; */
    /* display: block;
    margin: 0 auto; */
    /* min-width: 200px; */
}
.add-staff--button .mdc-button {
    width: 100%;
}

.banner {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.grid-image {
    max-width: 480px;
    margin: 0 auto;
}