.demo-card__title {
  text-transform: capitalize;
}

.demo-card__primary {
  padding: 1rem;
}


.data-table-primary {
  padding: 1rem;
}

.data-table-primary .remove-selected-container {
  margin-top: 10px;
}

.overlapped-avatar-images {
  margin-right: 4px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.overlapped-avatar-images:not(:first-child) {
  margin-left: -15px;
}

.recipients-container {
  float: right;
  text-align: center;
  margin-top: -5px;
  cursor: pointer;
}

.recipients-container .overlapped-images-container {
  margin-top: 5px;
}
.payroll-card .mdc-card__actions {
min-height: 34px;
}

.expenses-card .demo-card__primary-action {
  padding-top: 0px;
  padding-bottom: 0px;
}

.expenses-card .demo-card__primary-action ul li .mdc-list-item__secondary-text {
  margin-top: 10px;
  margin-bottom: 5px;
}

.expenses-card .demo-card__primary-action ul li .mdc-list-item__secondary-text span {
  display: inline-flex;
  align-items: center;
}
.group-card {
  padding: 0.8rem;
  min-height: 80px;
}
.expenses-card .demo-card__primary-action ul li .mdc-list-item__secondary-text span i {
  margin-right: 10px;
}

.expenses-card .demo-card__primary-action ul li .mdc-list-item__secondary-text span:not(:first-child) {
  margin-left: 10px;
}

.expenses-card .demo-card__primary-action ul li button {
  margin-left: auto;
  margin-right: 0;
}

.inline-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.inline-icon i {
  margin-right: 10px;
}

@media (max-width: 330px) {
  .expenses-card .demo-card__primary-action ul li .mdc-list-item__secondary-text span:not(:first-child) {
    margin-left: 0px;
  }
}

.assignee-card .recipient-update-container,
.assignee-card .leaveType-update-container {
  padding: 1rem;
  padding-bottom: 0px;
}

.assignee-card .recipient-update-container .mdc-text-field,
.assignee-card .leaveType-update-container .mdc-text-field {
  width: 100%;
}

.assignee-card .mdc-card__action-buttons:nth-child(1) .mdc-button {
  color: var(--mdc-theme--error);
}

.assignee-card .mdc-card__action-buttons:nth-child(2) {
  margin-left: auto;
}

.card-heading {
  /* display: flex; */
  /* align-items: center; */
  float: left;
}

.heading-action-container {
  float: right;
}

.heading-action-container.total-count {
  text-align: center;
}

.card-heading .demo-card__title {
  padding-top: 0;
}

.card-heading .employee-stat .mdc-typography--body2 {
  color: #4CAF50;
}

.count-container {
  float: right;
}

.count-container .count-value {
  text-align: center;
}

.address-card-data {
  max-height: 200px;
  overflow-y: auto;
}

.action-header {
  display: flex;
  align-items: center;
}

.action-header .mdc-list-group__subheader {
  font-weight: 500;
  font-size: 18px;
}

.action-header button {
  margin-left: auto;
}

.actionable-list-container {
  display: flex;
  align-items: center;
  position: relative;
}

.actionable-list-container .subscription-container.mdc-chip-set {
  width: 100%;
}
.actionable-list-container .status-button {
  margin-left: auto;
  display: none;
  
}

.actionable-list-container .mdc-list-item {
  width: 100%;
}

.actionable-list-container:hover .status-button {
  display: block;
}

@media (max-width: 839px) {
  .actionable-list-container .status-button {
    display: block;
  }
}

.download-sample-container {
  padding-top: 20px;
  padding-bottom: 10px;
}

.download-sample-container button {
  width: 100%;
}

.mdc-card__media.map-static {
  height: 200px;

}


.add-assignee-cont, .deposit-card, .batch-card {
  padding-left: 10px;
  padding-right: 10px;
}

.deposit-card .material-icons, .batch-card .material-icons {
  margin-left: auto;
}
.batch-card  p {
  margin-top: 5px;
  margin-bottom: 0px;
}
.batch-card p:last-of-type {
  margin-bottom: 5px;
}
.batch-card  ul {
  padding-top: 5px;
  border-top: 1px solid #ccc;
}

.batch-card .inline-flex .amount {
  margin-left: auto;
}

.report-card {
  min-height: 100px;
}
.report-card .include-list {
  padding-bottom: 10px;
}
.report-card .include-list.disable-element {
  border-top: 1px solid #ccc;
}
.report-card .action-cont {
  display: flex;
}
.report-card .mdc-fab {
  margin-left: auto;
  bottom: 10px;
  right: 5px;
}
.report-card .text-field-container {
  /* margin-left: 10px;
  margin-right: 10px;
  width: auto; */
}


.report-card .add-new-include {
  padding-left: 10px;
  padding-right: 10px;
}