/* .content-max-width {
    max-width: 768px;
    margin: 0 auto;
} */

.case-study .section {
    position: relative;
}

.section p {
    line-height: 32px;
}

.banner-large {
    padding: 4rem;
    text-align: center;
}

.company-details {
    padding: 10px 0px;
    border-bottom: 1px #ccc;
    border-bottom-style: dashed;
}

.company-details:last-child {
    border-bottom: none;
}

.company-details .value {
    color: var(--mdc-theme-primary);
    font-weight: 500;
}
.solutions img {
    display: block;
    margin: 0 auto;
}
@media(min-width:599px) {

    .solutions img.visible {
        -webkit-animation: slideIn 2s forwards;
        -moz-animation: slideIn 2s forwards;
        animation: slideIn 2s forwards;
        position: relative;
        transition: 2s ease;
        right: 0px;
    }
}

.solutions-image {
    width: 400px;
}

.section .headline {
    padding-top: 20px;
    padding-bottom: 0px;
}

.highlight-headline {
    text-align: center;
    font-size: 2.125rem;
    font-weight: bold;
    line-height: 40px;
}

@media (max-width:599px) {

    .highlight-headline {
        font-size: 1.5rem;
    }

    .company-details {
        text-align: center;
    }
}

@media(min-width:840px) {
    .section .mdc-layout-grid {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width:839px) {
    .column-filler {
        display: none
    }
    .solutions-image {
        width: 100%;
    }

}

.case-study--card {
    text-decoration: none;
    cursor: auto;
    max-width: 300px;
}

.case-study--card .mdc-card__media {
    background-size: auto;
    max-height: 180px;
    background-color: #f5f5f5;
}

.mdc-card-wrapper__text-section {
    padding: 16px 16px 0px 16px;
}

.mdc-card-wrapper__text-section .card__title {
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
}
.mdc-card-wrapper__text-section .card__subheading {
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .6;
}
.mdc-card-wrapper__text-section .card__body {
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .6;
}

.infographics i {
    font-size: 60px;
}
