$mdc-theme-primary:black;
$mdc-theme-secondary:white;
$mdc-theme-background:#eeeeee;
$list-background : white;

@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";

/** button **/
.mdc-button--shaped {
  @include mdc-button-horizontal-padding(70px);
}
.mdc-layout-grid__inner {
  margin-top: 20px;
}

// firebase auth container
#firebaseui-auth-container {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body {
  cursor: pointer;
  background: $list-background;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#profile--image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#not-autorized-message {
  background: $list-background;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#not-autorized-message h2 {
  color: $mdc-theme-secondary;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#not-autorized-message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

@media (max-width: 600px) {

  body,
  #not-autorized-message {
    margin-top: 0;
    background: $list-background;
    box-shadow: none;
  }

}

.hidden {
  display: none;
}

.left {
  float: left;
}
.right{
  float: right;
}