@import '../scss/variables';

@import "@material/list/mdc-list";
@import "@material/typography/mdc-typography";
@import "@material/textfield/mdc-text-field";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";

body {
        margin: 0px;
}

.hidden {
        display: none !important;
}
.invisible {
        opacity: 0;
}

.activity-edit-card {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

        .card-heading {
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 0px;
                margin-bottom: 0px;
        }

        .primary-content {


                .edit-form {
                        padding-left: 20px;
                        padding-right: 20px;

                        .text-field-container {
                                .mdc-text-field:not(.mdc-text-field--disabled) {
                                        background-color: transparent;
                                }

                                .mdc-text-field::before,
                                .mdc-text-field::after {
                                        background-color: transparent;
                                }

                                .mdc-text-field {
                                        width: 100%;

                                        input {
                                                padding-left: 0px;
                                        }

                                        label {
                                                left: 0px;
                                        }
                                }
                        }
                }

        }

        .mdc-card__actions {
                padding-right: 20px;
                padding-left: 20px;
                margin-top: 30px;

                .mdc-button:nth-child(1) {
                        margin-right: 30px;
                }
        }
}